{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<article>
    <div class="registration-links">
        .
        .
        .
    </div>

    <h2>Welcome to the Job Matching System</h2>
    <p class="intro-text">Your one-stop solution to finding the perfect job match!</p>
    <div class="registration-links">
        <a href="/employer_register" class="btn-link">Register as an Employer</a>
        <a href="/seeker_register" class="btn-link">Register as a Job Seeker</a>
    </div>
    <div class="login-link">
        <a href="/login" class="btn-login">Login</a>
    </div>
</article>
{% endblock %}
